{
  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],

  "plugins": [
    "@typescript-eslint",
    "jest"
  ],

  "ignorePatterns": [
    "dist/"
  ],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },

  "rules": {
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "no-process-exit": "off",
    "strict": ["error", "safe"],

    "filenames/match-exported": "off",
    "filenames/no-index": "off",

    "import/group-exports": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-cycle": "off",
    "import/no-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-mutable-exports": "off",
    "import/no-unresolved": "off",
    "import/order": ["error", {
      "newlines-between": "ignore"
    }],

    "promise/prefer-await-to-callbacks": "off",

    "jest/no-test-callback": "off",

    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/class-name-casing": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/method-signature-style": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-triple-slash-reference": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off"
  }
}
