{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "plugins": [
    "@typescript-eslint"
  ],

  "env": {
    "node": true,
    "es6": true
  },

  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  },

  "rules": {
    "no-console": "off",

    // This rule has issues with the TypeScript parser, but tsc catches these sorts of errors anyway.
    // See: https://github.com/typescript-eslint/typescript-eslint/issues/342
    "no-undef": "off",

    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": [1, 2, {"SwitchCase": 1, "VariableDeclarator": 1}],
    "@typescript-eslint/no-explicit-any": "off"
  }
}