name: Draft New Release

on:
  push:
    branches:
      - master
    tags-ignore:
      - v*

jobs:
  draft_new_release:
    name: Draft new release
    runs-on: ubuntu-latest

    steps:
      - uses: toolmantim/release-drafter@v5.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}